.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 100px 0;
  background: var(--background-dark);
}

.summary_title {
  color: #555555;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2em;
}

.focus {
  color: #CCCCCC;
  font-weight: 600;
  display: inline-block;
}

.canvas_container {
  opacity: 0.25;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  /* background-color: rgba(19, 19, 19, .15); */
}

.canvas__backdrop {
  position: absolute;
  inset: 0 -28px 0 -28px;
  background-color: rgba(19, 19, 19, .15);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  opacity: 1;
  background-image: url('/images/summary-bg.webp');
  background-size: cover;
  background-position: right;
}

/* canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
} */