.wrapper {
  /* display: grid;
  place-items: center; */
  padding: 500px 0;
  /* min-height: 100vh; */
  background: var(--background-dark);
}

.glow {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.summary_title {
  color: #555555;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 3rem;
}

.focus {
  color: #FFFFFF;
  font-weight: 600;
}
